.container
{  height:100px;

    background-color: black;
    display:flex;
}
.child1{
    height:100px;
    width:20%;
    background-color:bisque;
}
.child2{
    height:100px;
    width:80%;
    display: flex;
    background-color: grey;
    justify-content:center;
    align-items: center;
}
/* .child2 h1{
    padding:50px;
    padding-top: 0;
} */
.content{
    background-color: aqua;
    height:300px;
    width:50%;
}
.content2{
    background-color: lightblue;
    height:300px;
    width:50%;
}
.container2
{  height:300px;

    background-color:orange;
    display:flex;
}
.container3{
    background-color: aquamarine;
    height:200px;
}